<div class="container">
    <h3 class="text-center">Contact Form</h3>
    
    <!--HTML FORMS TECHNIQUE, BUT WE'LL USE RUBY-->
    <!--<form action>-->
    <!--    <label>Name</label>-->
    <!--    <input type ="text">-->
    <!--    <br />-->
    <!--    <label>Email</label>-->
    <!--    <input type="text">-->
    <!--    <br />-->
    <!--    <label>Comments</label>-->
    <!--    <input type ="text">-->
    <!--</form>-->
    
    <%= form_for "/contacts" do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        
        <%= f.label :email %>
        <%= f.text_field :email %>
        
        <%= f.label :comments %>
        <%= f.text_area :comments %>
    <% end %>
</div>
